<!DOCTYPE html>
<html xmlns:th= " http://www.thymeleaf.org " >
<head>
<meta charset="utf-8">
<title>Peer Review Platform - Profile</title>
<link th:rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css} "/>
<svg xmlns="http://www.w3.org/2000/svg" style="display:none">
	<symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
		<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
	</symbol>
	<symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
		<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
	</symbol>
	<symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
		<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
	</symbol>
</svg>
</head>
<body>
<div class="container-fluid vh-100">
	<div class="container">
		<nav class="navbar navbar-light">
			<div class="d-flex justify-content-start">
			<a class="navbar-brand fs-2" role="link" aria-disabled="true">Peer Review Platform</a>
			</div>
			<div class="d-flex justify-content-end">
			<form class="form-inline" th:action="@{/logout}" method="get">	
				<button class="btn btn-outline-primary" type="submit">Logout</button>
			</form>
			</div>
		</nav>
	</div>

    

	<div class="container text-center my-5 d-flex justify-content-start">
		<div class="container my-auto align-items-middle">
		<h2>Profile</h2>
		<div class="container mt-4">
            <ul class="nav nav-tabs">
                <li class="nav-item col-3">
                  <a class="nav-link active" aria-current="page" th:href="@{/profile/{username}/MyRatings(username=${username})}">My Ratings</a>
                </li>
                <li class="nav-item col-3">
                  <a class="nav-link" th:href="@{/profile/{username}/OpenReviews(username=${username})}">Open Reviews</a>
                </li>
                <li th:if="${allTabs}" class="nav-item col-3">
                  <a class="nav-link" th:href="@{/profile/{username}/TeamReviews(username=${username})}">Team Reviews</a>
                </li>
                <li th:if="${allTabs}" class="nav-item col-3">
                    <a class="nav-link" th:href="@{/profile/{username}/CreateReviewRound(username=${username})}">Create Review Round</a>
                </li>
              </ul>
        </div>
		</div>
	</div>
	
	<div class="contiainer d-flex justify-content-center">
		<div class="row col-10">
			<div class="container col-5">
				<div class="card p-4">
					<img class="card-img-top" th:src="${userProfile.profilePic}">
				</div>
					<table class="table table-hover table-dark ">
						<tbody>
							<tr>
								<th scope="row" class="col-5 text-center">Name</th>
								<td class="px-4"><span th:text="${userProfile.user.firstName} + ' ' + ${userProfile.user.lastName}"/></td>
							</tr>
							<tr>
								<th scope="row" class="col-5 text-center">Department</th>
								<td class="px-4"><span th:text="${userProfile.user.department.departmentName}" /></td>
							</tr>

						</tbody>
					</table>
			</div>
			<div class="container col-7">
				
				<div th:if="${emptyList}"> 
					<div class="card p-4">
						Review Information is not available.
					</div>
				</div>
				<div th:unless="${emptyList}"> 
					<form class="d-grid" th:object="${reiviewRoundList}" th:action="@{/profile/{username}/MyRatings/ReviewRounds(username=${username})}" method="post">
						<div class="form-group">
							<select onchange="this.form.submit()" class="form-select" id="selectedRoundId" name ="selectedRoundId">
								<option selected th:object="${selectedRound}" disabled value=""><strong><span th:text="${selectedRound.reviewRoundName}"/></strong></option>
								<option th:each="reiviewRound : ${reiviewRoundList}" th:value="${reiviewRound.reviewRoundId}" th:text="${reiviewRound.reviewRoundName}">
							</select>
						</div>
					</form>
					
					<div class="card p-4 mt-2">
						<div class="p-4" th:object="${reviewAverages}">
							
							<div><strong>Quality of Work</strong></div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" th:style="'width:' + ${reviewAverages.averageQualityOfWorkRating}/5*100 +'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<div class="mt-3"><strong>Punctuality</strong></div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" th:style="'width:' + ${reviewAverages.averagePunctualityRating}/5*100 +'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<div class="mt-3"><strong>Reliability</strong></div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" th:style="'width:' + ${reviewAverages.averageReliabilityRating}/5*100 +'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<div class="mt-3"><strong>Communication Skill</strong></div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" th:style="'width:' + ${reviewAverages.averageCommunicationSkillRating}/5*100 +'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<div class="mt-3"><strong>Decision Making</strong></div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" th:style="'width:' + ${reviewAverages.averageDecisionMakingRating}/5*100 +'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<div class="mt-3"><strong>Initiative</strong></div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" th:style="'width:' + ${reviewAverages.averageInitiativeRating}/5*100 +'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<div class="mt-3"><strong>Teamwork</strong></div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" th:style="'width:' + ${reviewAverages.averageTeamworkRating}/5*100 +'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<div class="mt-3"><strong>Knowledge</strong></div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" th:style="'width:' + ${reviewAverages.averageKnowledgeRating}/5*100 +'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							
							<div th:if="${showCommentList}">
								<div class="mt-3"><strong>Comments</strong></div>
								<div class="overflow-auto text-center"  style="height:5em"> 
									<p class="my-2" th:each="comment : ${reviewAverages.commentList}" th:text="${comment}" />
								</div>
							</div>
						</div>
					</div>
				</div>
		
			</div>
		</div>
	</div>


	<div class="container d-flex justify-content-end my-5 mx-5">
		<p>Date: <span th:text="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"></span></p>
	</div>
</div>


	<script th:src="@{/assets/jquery/jquery-3.6.0.min.js}"></script>
	<script th:src="@{/assets/popper.js/popper.min.js}"></script>
	<script th:src="@{/assets/bootstrap/js/bootstrap.bundle.js}"></script>

	
</body>
</html>