<!DOCTYPE html>
<html xmlns:th= " http://www.thymeleaf.org " >
<head>
<meta charset="utf-8">
<title>Peer Review Platform - Profile</title>
<link th:rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css} "/>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
	<symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
	  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
	</symbol>
	<symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
	  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
	</symbol>
	<symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
	  <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
	</symbol>
  </svg>
</head>
<body>
<div class="container-fluid vh-100">
	<div class="container">
		<nav class="navbar navbar-light">
			<div class="d-flex justify-content-start">
			<a class="navbar-brand fs-2" role="link" aria-disabled="true">Peer Review Platform</a>
			</div>
			<div class="d-flex justify-content-end">
			<form class="form-inline" th:action="@{/logout}" method="get">	
				<button class="btn btn-outline-primary" type="submit">Logout</button>
			</form>
			</div>
		</nav>
	</div>

    

	<div class="container text-center my-5 d-flex justify-content-start">
		<div class="container my-auto align-items-middle">
		<h2>Profile</h2>
		<div class="container mt-4">
            <ul class="nav nav-tabs">
                <li class="nav-item col-3">
                  <a class="nav-link" th:href="@{/profile/{username}/MyRatings(username=${username})}">My Ratings</a>
                </li>
                <li class="nav-item col-3">
                  <a class="nav-link active" aria-current="page" th:href="@{/profile/{username}/OpenReviews(username=${username})}">Open Reviews</a>
                </li>
                <li th:if="${allTabs}" class="nav-item col-3">
                  <a class="nav-link" th:href="@{/profile/{username}/TeamReviews(username=${username})}">Team Reviews</a>
                </li>
                <li th:if="${allTabs}" class="nav-item col-3">
                    <a class="nav-link" th:href="@{/profile/{username}/CreateReviewRound(username=${username})}">Create Review Round</a>
                </li>
              </ul>
        </div>
		</div>
	</div>

	<div class="contiainer d-flex justify-content-center">
		
		<div th:if="${emptyList}" class="col-12"> 
			<div class="row col-10">

			<div th:if="${updateMode}">
					<form th:action="@{/profile/{username}/OpenReviews/updateMode(username=${username})}" class="d-flex justify-content-end" method="post">
						<button class="col-1 btn btn-outline-secondary mx-3" disabled>Update</button>
						<button type="submit" name="updateMode" id="updateMode" class="col-1 btn btn-primary" th:value="false">New</button>
					</form>
					</div>
					<div th:unless="${updateMode}">
					<form th:action="@{/profile/{username}/OpenReviews/updateMode(username=${username})}" class="d-flex justify-content-end" method="post">
						<button type="submit" name="updateMode" id="updateMode" class="col-1 btn btn-primary mx-3" th:value="true">Update</button>
						<button class="col-1 btn btn-outline-secondary" disabled>New</button>
					</form>
					</div>
			</div>
			<div class="row my-3">
				<div class="container col-8">	
				<div th:if="${updateMode}" class="card p-4 text-center">
					No completed open review available to update.
				</div>
				<div th:unless="${updateMode}" class="card p-4 text-center">
					No incomplete open review available.
				</div>
				</div>
			</div>
		</div>
		<div th:unless="${emptyList}" class="col-10"> 
			<div class="row">
				<div class="container col-6">
					<table class="col-12 text-center table table-dark table-hover mb-0">
						<tr>
							<td class="col-4">Review Round</td>
							<td class="col-8" th:text="${selectedRound.reviewRoundName}"></td>
						</tr>
						<tr>
							<td class="col-4">Review Recipient</td>
							<td class="col-8" th:text="${selectedRecipient.firstName} + ' ' + ${selectedRecipient.lastName}"></td>
						</tr>
					</table>
					<div class="card p-4">
						
						<form th:object="${selectedReview}" th:action="@{/profile/{username}/OpenReviews/submit(username=${username})}" method="post">
							
							<div class="form-group row d-flex justify-content-start">
							<label class="col-6 col-form-label" for="reviewRoundId">Review Round ID</label>
							<div class="col-4">
							<input class="form-control" name="reviewRoundId" id ="reviewRoundId" type="number" th:value="*{reviewRoundId}" th:field="*{reviewRoundId}" readonly>
							</div></div>
							
							<div class="form-group row d-flex justify-content-start">
							<label class="col-6 col-form-label" for="reviewerId">Reviewer ID</label>
							<div class="col-4">
							<input class="form-control" name="reviewerId" id ="reviewerId" type="number" th:value="*{reviewerId}" th:field="*{reviewerId}" readonly>
							</div></div>
							
							<div class="form-group row d-flex justify-content-start mb-4">
							<label class="col-6 col-form-label" for="recipientId">Recipient ID</label>
							<div class="col-4">
							<input class="form-control" name="recipientId" id ="recipientId" type="number" th:value="*{recipientId}" th:field="*{recipientId}" readonly>
							</div></div>
							
							<div class="form-group row d-flex justify-content-start">
							<label class="col-6 col-form-label" for="field1">Quality Of Work</label>
							<div class="col-4">
							<input class="form-control" name="field1" id ="field1" type="number" min="1" max="5" th:field="*{qualityOfWorkRating}" required>
							</div></div>
							
							<div class="form-group row d-flex justify-content-start">
							<label class="col-6 col-form-label" for="field2">Punctuality</label>
							<div class="col-4">
							<input class="form-control" name="field2" id ="field2" type="number"  min="1" max="5"  th:field="*{punctualityRating}" required>
							</div></div>
							
							<div class="form-group row d-flex justify-content-start">
							<label class="col-6 col-form-label" for="field3">Reliability</label>
							<div class="col-4">
							<input class="form-control" name="field3" id ="field3" type="number"  min="1" max="5"  th:field="*{reliabilityRating}" required>
							</div></div>
							
							<div class="form-group row d-flex justify-content-start">
							<label class="col-6 col-form-label" for="field4">Communication Skill</label>
							<div class="col-4">
							<input class="form-control" name="field4" id ="field4" type="number" min="1" max="5" th:field="*{communicationSkillRating}" required>
							</div></div>
							
							<div class="form-group row d-flex justify-content-start">
							<label class="col-6 col-form-label" for="field5">Decision Making</label>
							<div class="col-4">
							<input class="form-control" name="field5" id ="field5" type="number"  min="1" max="5"  th:field="*{decisionMakingRating}" required>
							</div></div>
							
							<div class="form-group row d-flex justify-content-start">
							<label class="col-6 col-form-label" for="field6">Initiative</label>
							<div class="col-4">
							<input class="form-control" name="field6" id ="field6" type="number"  min="1" max="5"  th:field="*{initiativeRating}" required>
							</div></div>
							
							<div class="form-group row d-flex justify-content-start">
							<label class="col-6 col-form-label" for="field7">Teamwork</label>
							<div class="col-4">
							<input class="form-control" name="field7" id ="field7" type="number"  min="1" max="5"  th:field="*{teamworkRating}" required>
							</div></div>
							
							<div class="form-group row d-flex justify-content-start">
							<label class="col-6 col-form-label" for="field8">Knowledge</label>
							<div class="col-4">
							<input class="form-control" name="field8" id ="field8" type="number"  min="1" max="5"  th:field="*{knowledgeRating}" required>
							</div></div>
							
							<div class="form-group row d-flex justify-content-start mt-3">
							<label class="col-4 col-form-label" for="comment">Comment</label>
							<div class="col-8">
							<input class="form-control"  name="comment" id ="comment" type="text"  th:field="*{comment}">
							</div></div>
							
							<div class="d-flex justify-content-center mt-4">
							<button type="submit" class="btn btn-outline-primary">Submit Review Now</button>
							</div>
						</form>
					</div>
				</div>
				
				<div class="container col-6">
					<div th:if="${updateMode}">
					<form th:action="@{/profile/{username}/OpenReviews/updateMode(username=${username})}" class="d-flex justify-content-end" method="post">
						<button class="col-2 btn btn-outline-secondary mx-3" disabled>Update</button>
						<button type="submit" name="updateMode" id="updateMode" class="col-2 btn btn-primary" th:value="false">New</button>
					</form>
					</div>
					<div th:unless="${updateMode}">
					<form th:action="@{/profile/{username}/OpenReviews/updateMode(username=${username})}" class="d-flex justify-content-end" method="post">
						<button type="submit" name="updateMode" id="updateMode" class="col-2 btn btn-primary mx-3" th:value="true">Update</button>
						<button class="col-2 btn btn-outline-secondary" disabled>New</button>
					</form>
					</div>
					
					
					<form class="d-grid mt-3" th:object="${reiviewRoundList}" th:action="@{/profile/{username}/OpenReviews/ReviewRounds(username=${username})}" method="post">
						<div class="form-group">
							<select onchange="this.form.submit()" class="form-select" id="selectedRoundId" name ="selectedRoundId">
								<option selected th:object="${selectedRound}" disabled value=""><strong><span th:text="${selectedRound.reviewRoundName}"/></strong></option>
								<option th:each="reiviewRound : ${reiviewRoundList}" th:value="${reiviewRound.reviewRoundId}" th:text="${reiviewRound.reviewRoundName}">
							</select>
						</div>
					</form>
						
					<div class="card p-4 mt-2">
						<form th:action="@{/profile/{username}/OpenReviews/review(username=${username})}" th:object="${openReviewList}" method="post">
							<div th:each="object : ${openReviewList}">
								<div class="d-flex justify-content-center my-3">
								<button class="col-6 btn btn-outline-primary" type="submit" th:value="${object.index}" id="listIndex" name="listIndex"><span th:text="${object.recipient.firstName} + ' ' + ${object.recipient.lastName}" /></button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		
		</div>
		
	</div>

	<div class="container d-flex justify-content-end my-5 mx-5">
		<p>Date: <span th:text="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"></span></p>
	</div>>
</div>


	<script th:src="@{/assets/jquery/jquery-3.6.0.min.js}"></script>
	<script th:src="@{/assets/popper.js/popper.min.js}"></script>
	<script th:src="@{/assets/bootstrap/js/bootstrap.bundle.js}"></script>

	
</body>
</html>