<!DOCTYPE html>
<html xmlns:th= " http://www.thymeleaf.org " >
<head>
<meta charset="utf-8">
<title>Peer Review Platform - Register</title>
<link th:rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css} "/>
</head>
<body>
<div class="container-fluid vh-100 ">
	<div class="container sticky-top ">
		<nav class="navbar navbar-light">
			<div class="d-flex justify-content-start">
			<a class="navbar-brand fs-2" href="/PeerReview">Peer Review Platform</a>
			</div>
			
			<div class="d-flex justify-content-end">
				<form class="form-inline" th:action="@{/}" method="get">	
					<button class="btn btn-primary me-3" type="submit" >Login</button>
				</form>
				<form class="form-inline" th:action="@{register}" method="get">	
					<button class="btn btn-outline-dark" type="submit" disabled>Register</button>
				</form>
				</div>
		</nav>
	</div>

	<div class="container text-center my-5">
		<div class="container my-auto align-items-middle">
			<h2>Register</h2>
			<form th:action="@{register}" th:object="${employee}" method="post">
				<div class="row justify-content-center">
					<div class="col-4">
						<div class="form-floating mt-3 mb-3">
							<input type="text" th:field="*{firstName}" class="form-control" id="firstname" placeholder="First name" name="firstname" required/>
							<label for="firstname">First Name</label>
						</div>
					</div>
					<div class="col-4">
						<div class="form-floating mt-3 mb-3">
							<input type="text" th:field="*{lastName}" class="form-control" id="lastname" placeholder="Last name" name="lastname" required/>
							<label for="lastname">Last Name</label>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-8">
						<div class="form-floating mt-3 mb-3">
							<input type="text" th:field="*{userName}" class="form-control" id="username" placeholder="Username" name="username" required/>
							<label for="username">Userame</label>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-8">
						<div class="form-floating mt-3 mb-3">
							<input type="password" th:field="*{passWord}" class="form-control" id="password" placeholder="Password" name="password" required/>
							<label for="password">Password</label>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-8">
						<div class="form-floating mt-3 mb-3">
							<input type="password" class="form-control" id="confirm_password" placeholder="Confirm Password" name="confirm_password" required/>
							<label for="confirm_password">Confirm Password</label>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">

					<div class="col-4 d-grid mt-3 mb-3">
						<select id="department" name="department" class="form-select" aria-label="Choose a department" required>
							<option selected disabled value="">Choose a department</option>
							<option th:each="department : ${departments}" th:value="${department.deparmentId}" th:text="${department.departmentName}">
						</select>
					</div>

					<div class="col-4 d-grid mt-3 mb-3">
						<select id="permission" name="permission" class="form-select" aria-label="Choose permission type" required>
							<option selected disabled value="">Choose permission type</option>
 							<option th:each="permission : ${permissions}" th:value="${permission.permissionId}" th:text="${permission.permissionDescription}">
						</select>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-8">
						<div class="d-grid mb-2 mt-3">
							<button type="submit" class="btn btn-outline-primary">Register Employee</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="container d-flex justify-content-end force-to-bottom">
		<p>Date: <span th:text="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"></span></p>
	</div>
	
	
</div>
	<script th:src="@{/assets/jquery/jquery-3.6.0.min.js}"></script>
	<script th:src="@{/assets/popper.js/popper.min.js}"></script>
	<script th:src="@{/assets/bootstrap/js/bootstrap.bundle.js}"></script>
</body>
</html>